.container {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	max-width: 400px;
  }

  .input {
	margin: 10px 0;
	width: 100%;
	/* background: var(--white); */
	border-radius: 8px;
  }

  .submit {
	/* background: var(--secondary-color);
	color: var(--white); */
	margin: 10px 0;
  }

  .form h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.15px;
	/* color: var(--gray-darkest); */
	margin-bottom: 16px !important;
  }

  .form h5 {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.15px;
	/* color: var(--gray-light); */
	opacity: 0.8;
	margin-top: 0;
	margin-bottom: 20px !important;
  }


  @media all and (max-width: 650px) {
	.background {
	  display: none;
	}

	.form_container {
	  max-width: 100%;
	}
  }
