.bookContainer {
	margin: 15px;
	display: flex;
	flex-direction: row;
}

.bookImage {
	width: 300px;
	height: 600px;
	margin-right: 25px;
}

.infoItemContainer {
	margin: 10px 0 10px 0;
}

.infoItemTitle {
	color: gray;
	font-size: 12px;
}

.infoItemValue {
	font-size: 15px;
}

.btnsContainer {
	display: flex;
	flex-direction: row;
}

.btn {
	margin: 10px;
}
